
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

a{
    color: #ff5733;
    font-weight: 700;
}

.fa-brands, .fab {
    font-weight: 700;
}

body {
    background-color: #f0f0f0;
    color: #333;
}

/* Estilo para el header */
.header {
    background-image: url('webp/header.webp'); 
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 120px 0;
}

.header h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.header p {
    font-size: 18px;
    margin-bottom: 40px;
}

.header .container,
.main-content .container,
.features .container,
.footer .container,
.courses .container,
.blogs .container,
.about-me .container {
    max-width: 960px;
    margin: 0 auto;
}


h1, h2, h3 {
    color: #ff5733;
}

nav {
    margin-top: 20px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.nav-btn-slide-bottom {
    background: transparent; 
    color: #ff5733; 
    border: none; 
    padding: 10px 20px;
    width: auto; 
    height: auto; 
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.35s, border-color 0.35s; 
}

.nav-btn-slide-bottom:hover {
    color: #fff; 
    border-color: #ff5733;
}

.nav-btn-slide-bottom::after {
    content: "";
    background: #ff5733; 
    position: absolute;
    z-index: -1;
    padding: 0;
    display: block;
    left: 0;
    right: 0;
    top: 100%;
    bottom: 0;
    transition: top 0.35s; 
}

.nav-btn-slide-bottom:hover::after {
    top: 0;
}

.wave {
    transform: translateY(83%);
}

/*seccion 1*/

.seccion-llamativa {
    background-color: #ff5733;
    color: #ffffff;
    text-align: center;
    padding: 50px; 
}

.titulo {
    font-size: 48px; 
    margin-bottom: 20px;
    color: #fff; 
    animation: bounce 2s infinite; 
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}


.texto {
    font-size: 18px;
    margin-bottom: 30px;
    padding: 2% 10%;
}

/*** ESTILOS BOTÓN SLIDE RIGHT ***/
.ov-btn-slide-right {
    background: #ffff;
    color: #ff5733; 
    padding: 16px 20px;
    border-radius: 3px; 
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .ov-btn-slide-right:hover {
    color: #fff;
  }
  .ov-btn-slide-right::after {
    content: "";
    background: #ff5733; 
    border: 2px solid #fff; 
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 0;
    bottom: 0;
    left: 100%;
    right: -100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .ov-btn-slide-right:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }


.seccion-cursos {
    background-color: #ff5733; 
    padding: 1% 10%;
    text-align: center;
}

/* Estilos para las tarjetas de cursos */
.tarjeta-curso {
    background-color: #fff; 
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

/* Estilos para el título del curso */
.titulo-curso {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 500;
}

/* Estilos para la descripción del curso */
.descripcion-curso {
    font-size: 16px;
    margin-bottom: 20px;
}

/* Estilos para el botón CTA */
.cta-button {
    background-color: #FF4500;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

/* Estilos para el botón CTA en hover */
.cta-button:hover {
    background-color: #FF6347;
}

/* Estilos para la sección de redes sociales */
.redes-sociales {
    margin-top: 20px;
}

 /* Estilos para la sección de redes sociales */
 .redes-sociales {
    margin-top: 20px;
}

/* Estilos para los iconos de redes sociales */
.icono {
    font-size: 24px;
    margin-right: 10px;
    color: #ff5733;
    transition: color 0.3s, transform 0.3s; 
        }

        
 .icono:hover {
     color: #FF4500; 
     transform: scale(1.2); 
 }
/* Style the features section */
.features {
    background-color: #fff;
    padding: 40px 0;
}

/* Style the individual features */
.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature img {
    max-width: 100%;
}


/* Estilo para la sección "Acerca de Mí" */
.about-me {
    background-color: #f0f0f0;
    padding: 60px 0;
}


/* Contenedor de la sección "Acerca de Mí" */
.containers {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 4%;
    gap: 5%;
}

.about-me-content {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.about-me-text {
    padding: 20px;
}

.about-me-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-image img {
    max-width: 100%;
    height: auto;
    display: block; 
}



/* Estilos para la sección de publicaciones */
.publicaciones {
    text-align: center;
    padding: 20px;
}

.publicaciones h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para cada publicación individual */
.publicacion {
    display: inline-block;
    width: 30%;
    margin: 0 1%;
    vertical-align: top;
    text-align: left;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.publicacion img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.publicacion p {
    font-size: 14px;
    line-height: 1.4;
}

/* Style the footer */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.footer .container {
    max-width: 960px;
    margin: 0 auto;
}



@media (max-width: 996px) {
   
    .containers {
        display: grid;
        grid-template-columns: 1fr;
        padding: 4%;
        gap: 5%;
    }

    .video {
        width: 100%;
        height: auto;
    }
    .seccion-cursos {
        background-color: #ff5733;
        padding: 1% 4%;
        text-align: center;
    }
    .about-me {
        background-color: #f0f0f0;
        padding: 0;
        padding-bottom: 16%;
    }
}
@media (max-width: 996px) {

    .wave2, .wave4 {
        transform: translateY(-2%);
    }

    .wave3 {
        transform: translateY(10px);
    }

    .titulo{
        font-size: 20px;
    }

    .about-me-text {
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .texto {
        font-size: 13px;
        margin-bottom: 30px;
        padding: 0%;
    }
    a, p{
        font-size: 12px;
        text-align: center !important;
    }

    h2 {
        text-align: center;
    }

    .descripcion-curso {
        font-size: 12px;
        margin-bottom: 20px;
    }

    .cta-button {
        font-size: 12px;
    }
    .titulo-curso {
        font-size: 20px;
    }

.publicaciones {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.publicacion {
    width: 106%; 
    margin-bottom: 20px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 20px;
}


.publicacion iframe {
    max-width: 100%;
    height: auto; 
}

.tiktok-embed {
    position: relative;
    display: block;
    width: 100%;
    margin: auto -5% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.15;
    overflow: hidden;
    -webkit-text-size-adjust: 100%;
    font-family: proxima-regular,PingFangSC,sans-serif;
    font-weight: 400;
}
.instagram-media {
    position: relative;
    display: block;
    width: 100%;
    margin: auto -5% !important;
}
}


/* Estilo para el menú hamburguesa */
.menu-icon {
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    display: none;
}

.bar {
    background-color: #ff5733;
    height: 3px;
    width: 100%;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked + .menu-icon .bar:nth-child(1) {
    transform: translateY(7px) rotate(-45deg);
}

#menu-toggle:checked + .menu-icon .bar:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked + .menu-icon .bar:nth-child(3) {
    transform: translateY(-7px) rotate(45deg);
}

/* Estilo para el menú en dispositivos móviles */
@media screen and (max-width: 768px) {
    .menu-icon {
        display: flex;
    }
    nav {
        display: none;
        background-color: #0000009c;
        position: fixed;
        top: -5%;
        right: 0;
        width: 100%;
        text-align: center;
        padding-top: 20px;
        transition: right 0.4s ease;
    }

    nav.active {
        right: 0;
    }

    nav ul {
        padding: 0;
        box-shadow: 0 0 10px rgba(255, 87, 51, 0.5); /* Agregamos una sombra al botón en el hover */
    }

    nav ul li {
        margin: 20px 0;
    }

    nav a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
    }

    #menu-toggle:checked + .menu-icon + nav {
        display: block;
    }
    .nav-btn-slide-bottom a{
        box-shadow: 0 0 10px rgba(255, 87, 51, 0.5); /* Agregamos una sombra al botón en el hover */
    }
}

/* Estilos para el menú en pantalla grande */
@media screen and (min-width: 769px) {
    .menu {
        display: inline-block;
    }
    
    .menu li {
        margin-right: 20px;
    }
}

